<nav class="pt-navbar pt-fixed-top">
  <div class="pt-navbar-group pt-align-left">
    <div class="pt-navbar-heading">SourceSpace</div>
  </div>
  <div class="pt-navbar-group pt-align-right">
  </div>
</nav>
